
.technoslide {
    position: relative;
	width: 100%;
	height: 200px;
	margin:  20px auto;
    overflow: hidden;

    &__contents {
        position: absolute;
        display: flex;
        top: 0;
        width: 200px;
        margin: 0;            
        padding: 0;
        
    }

    &__contents li {
        display: inline;
    }

    &__img {
        width: 200px;
        height: 150px;
        object-fit: contain;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .technoslide {
		position: relative;
		width: 300px;
		overflow: hidden;
		margin-left: 25%;
		margin-right: 25%;
	
		&__contents {
			position: absolute;
			display: flex;
			top: 0;
			margin: 0;            
			padding: 0;
			
			display: flex;
			flex-wrap: wrap;
		}
	
	
		&__img {
			width: 100px;
			height: 100px;
			object-fit: contain;
		}
	}

	.height-reglage {
		height: 200px;
	}
	
	.alt-height {
		height: 300px;
	}
}