@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kdam+Thmor+Pro&family=Press+Start+2P&display=swap');

.footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(#580C4A, #6A47C7);
    ;

    &__text {
        font-family: 'Press Start 2P', cursive;
        color: #D9ECF2;
        font-size: 10px;
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .footer__text {
        margin: 5%;
    }
}